<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <!-- default css -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100&display=swap"
    rel="stylesheet">


  <!-- remix icon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">



</head>

<body>
  <div id="index-main">
    <div id="non-signup-users-content">
      <div id="first-page-content">

        <div id="hanging-social-links">
          <span id="hanging-line"></span>
          <a href="https://www.facebook.com/oesautaboy" target="_blank">
            <i class="ri-facebook-circle-fill"></i>
          </a>
          <a href="https://www.instagram.com/sautaboy/" target="_blank">
            <i class="ri-instagram-fill"></i>
          </a>
          <a href="https://github.com/sautaboy" target="_blank">
            <i class="ri-github-fill"></i>
          </a>
          <a href="https://twitter.com/sauta_aa" target="_blank">
            <i class="ri-twitter-x-line"></i>
          </a>
          <a href="https://www.youtube.com/@sautaboy" target="_blank">
            <i class="ri-youtube-fill"></i>
          </a>
          <a id="discord-button" onclick="">
            <i class="ri-discord-fill"></i>
          </a>
        </div>

        <img src="/images/face-one-png.png" alt="" id="face-one-png">






        <div id="left">
          <img src="/images/slllep man png.webp" alt="" class="face-one-png">

          <h1>Sauta Boy---</h1>
          <h1>Ashok Giri</h1>
        </div>
        <div id="center">
          <img src="/images/index-image.jpeg" alt="">
        </div>
        <div id="right">
          <a href="/" class="condo">refresh</a>
          <a href="#third-page-content" class="condo">projects</a>
          <a href="#contact-container" class="condo">contact</a>
          <a href="#second-page-content" class="condo">about me</a>
        </div>
      </div>


      <div id="second-page-content">
        <div id="image-with-information">
          <video src="/images/Screen Recording 2023-11-28 at 20.38.34.mov" autoplay muted loop>

          </video>
          <div id="information">
            <h2>Ashok Giri</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic ratione beatae officiis fugiat minus
              veritatis dolorem?</p>
          </div>
        </div>
        <div id="about-me-text">
          <div id="images-slider">
            <img class="sliding-image" src="/images/index-image-2.jpeg" alt="">
            <img class="sliding-image" src="/images/index-image.jpeg" alt="">
          </div>
          <div id="information">
            <h2>About Me</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque pariatur, cupiditate minima atque
              magni, voluptates quis eveniet?</p>
          </div>
        </div>

        <div id="qualification">
          <label>
            <h1 class="what-field">Education Field</h1>
            <h2 class="title">SEE, in <span>Siddhartha Shishu Sadan Secondary Schoool</span></h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe tempora, odio iste earum nostrum, porro
              ullam quas autem officia quidem veritatis id suscipit assumenda. Expedita harum quod cupiditate mollitia
              odio!
            </p>
          </label>

          <label>
            <h2 class="title">+2, in <span>Hetauda School of Management and Science</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quis assumenda expedita incidunt
              aut
              eligendi enim explicabo ad ipsam velit facilis placeat consequuntur, eveniet iste recusandae earum eius
              temporibus libero.</p>
          </label>

          <label>
            <h2 class="title">Bachelor, in <span>Hetauda City Collge</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dolore dicta officia! Voluptatem
              suscipit ducimus impedit ad, maxime libero et quisquam! Beatae atque minus perspiciatis labore eligendi
              repellat cum aperiam!</p>
          </label>


          <label>
            <h1 class="what-field">Skills All I Got</h1>
            <h2 class="title">Web Development With <span>HTML</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem quia ipsam ad aspernatur debitis
              iusto perspiciatis exercitationem. Quasi blanditiis aliquid veniam unde nesciunt sint aliquam nam quis,
              dolorum et.</p>
          </label>
          <label>
            <h2 class="title">Web Development With <span>CSS</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem quia ipsam ad aspernatur debitis
              iusto perspiciatis exercitationem. Quasi blanditiis aliquid veniam unde nesciunt sint aliquam nam quis,
              dolorum et.</p>
          </label>
          <label>
            <h2 class="title">Web Development With <span>JS</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem quia ipsam ad aspernatur debitis
              iusto perspiciatis exercitationem. Quasi blanditiis aliquid veniam unde nesciunt sint aliquam nam quis,
              dolorum et.</p>
          </label>


          <button id="download-resume">Download Resume</button>
        </div>
      </div>


      <!--  -->
      <div id="third-page-content" class="portfolio">

        <h1 id="all-my-projects">All My Projects</h1>

        <div id="portfolio-box-container">
          <div class="each-portfolio-box">
            <img src="/images/index-image-2.jpeg" alt="">
            <a href="" id="information">
              <h2>Title Of </h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut, explicabo, aut a quos voluptatum
                recusandae quasi placeat illum itaque eligendi laudantium sed adipisci blanditiis perferendis
                voluptatibus
                vitae. Facilis, quidem?</p>
            </a>
          </div>






        </div>
      </div>




      <div id="contact-container">


        <div id="google-map">

          <i class="ri-close-circle-line" id="cancel-google-map"></i>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14168.540618132984!2d85.03372905!3d27.402712649999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1701228277039!5m2!1sen!2snp"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <form action="" id="contact-field" method="post">
          <h1>Contact Form
            <i class="ri-map-pin-line" id="find-me-on-map"></i>
            <a id="find-me-on-map-text">
              Find Me On Map
            </a>

          </h1>
          <label for="">
            <i class="ri-pass-valid-fill"></i>
            <input type="text" name="fullname" placeholder="Enter Your Full Name " required>
          </label>


          <label for="">
            <i class="ri-home-smile-fill"></i>
            <input type="text" text="address" name="address" placeholder="Enter Your Address">
          </label>

          <label for="">
            <i class="ri-phone-fill"></i>
            <input type="text" name="phone" placeholder="Enter Your Phone">
          </label>

          <label for="">
            <i class="ri-mail-fill"></i>
            <input type="email" name="email" placeholder="Enter Your Email" required>
          </label>

          <label for="" class="textarea">
            <i class="ri-message-2-line"></i>
            <textarea name="message" id="" cols="30" rows="6" placeholder="Write Yor Message Here ..."></textarea>
          </label>
          <input type="submit" value="submit" id="submit-button">
        </form>
      </div>
    </div>

  </div>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/javascripts/script.js"></script>

</body>

</html>